body {
  background:url(/images/floor.jpg) no-repeat;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	background-position: center;
	height: 100vh;
	/*font-family: 'Hind Siliguri', sans-serif;*/

}
h2.copyright-agileits
{
    font-size: 0.76em;

}
copyright-agileits
{
    size: 0.76em;
}
#editeur, textarea {
    width: 50%;
    height: 300px;
    border: 1px solid black;

    overflow: auto;
    background-color: white;
}
