{% extends 'core/layout.html.twig' %}
{% block body %}

   
            <div class="g1">
                <div class="image">
                    <img src="http://lorempixel.com/306/306/sports/2" alt="">
                    <div class="image-overlay">
                        <div class="image-link">
                            <a href="http://lorempixel.com/606/606/sports/2" class="btn">Full View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g1">
                <div class="image">
                    <img src="http://lorempixel.com/306/306/sports/3" alt="">
                    <div class="image-overlay">
                        <div class="image-link">
                            <a href="http://lorempixel.com/606/606/sports/3" class="btn">Full View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="break"></div>
            <div class="g1">
                <div class="image">
                    <img src="http://lorempixel.com/306/306/sports/4" alt="">
                    <div class="image-overlay">
                        <div class="image-link">
                            <a href="http://lorempixel.com/606/606/sports/4" class="btn">Full View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g1">
                <div class="image">
                    <img src="http://lorempixel.com/306/306/sports/5" alt="">
                    <div class="image-overlay">
                        <div class="image-link">
                            <a href="http://lorempixel.com/606/606/sports/5" class="btn">Full View</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
