{% extends 'core/layout.html.twig' %}
{% block body %}

<section class="clearfix">
    <div class="g2">
        <h3>
            Expériences professionnelles
        </h3>
        <ul class="no-list work">
            <li>
                <h5>
                    Freelance OBT-Developement
                </h5><span class="label label-warning">Mai - 2018 à Aujourd'hui</span>
                <p>
                    Création d'application en VBA, dialogue application vers machine et ergonomie utilisateur. Refonte de site web Wordpress, modification CSS et HTML
                </p>
            </li>
            <li>
                <h5>
                    Developpeur VBA / VBscript
                </h5><span class="label label-info">2012 à Aujourd'hui</span>
                <p>
                    Projet ITER ORGANIZATION :<br>
                    Developpement de macro utlisateur sous Excel, Outlook, Catia.<br>
                    Contrôle qualité données de partage en base Enovia.<br>
                    Leader team réintegartion Enovia (5personnes).<br>
                    Représentant du personnel.
                </p>
            </li>
            <li>
                <h5>
                    Manager KFC
                </h5><span class="label label-success">2010-2012</span>
                <p>
                    Gestion d'équipe de service, 12 à 18 personnes, en restauration rapide.<br>
                    Respect des règle de sécurité, de courtoisie avec le client.<br>
                    Gestion de crise de non satisfaction clientèles.<br>
                    Gestion du cash.
                </p>
            </li>
            <li>
                <h5>
                    Gerant exclusif BEindustrie
                </h5><span class="label label-danger">2007 - 2010</span>
                <p>
                    Dessinateur projeteur mécanique et électricité.<br>
                    Etude concept mécanique.<br>
                    Installation électrique industriels et particuliers.<br>
                    Conseil et support technique.
                </p>
            </li>
            <li>
                <h5>
                    Dessinateur technique
                </h5><span class="label label-purple">2005 - 2007</span>
                <p>
                    Dessinateur sur module temps réel (GMS DRAW).<br>
                    Travail en environnement Unix.<br>
                    Programmation évenmentiel sur symbole dynamique.<br>
                    Prise d'information sur base de données.
                </p>
            </li>
            <li>
                <h5>
                    Formateur itninérant en techniques de maintenances
                </h5><span class="label label-sky">2001 - 2004</span>
                <p>
                    Formateur en hydraulique.<br>
                    Formateur en pneumatique.<br>
                    Formateur en mécanique.<br>
                    Formateur en électricité 1er niveau de maintenance.
                </p>
            </li>
        </ul>
    </div>
    <div class="g1">
        <div class="sidebar">
            <h3>
                Compétences :
            </h3>
            <h5>
                Logiciels
            </h5>
            <div class="meter emerald">
                <span style="width: 85%"><span>Sublim Text</span></span>
            </div>
            <div class="meter carrot">
                <span style="width: 80%"><span>Atom</span></span>
            </div>
            <div class="meter wisteria">
                <span style="width: 70%"><span>Microsoft Office</span></span>
            </div>
            <div class="meter sunflower">
                <span style="width: 65%"><span>Catia</span></span>
            </div>
            <div class="meter midnight">
                <span style="width: 70%"><span>Enovia</span></span>
            </div>
            <div class="meter pomengrate">
                <span style="width: 60%"><span>PHPMyAdmin</span></span>
            </div>
            <div class="meter carrot">
                <span style="width: 40%"><span>SYMPHONY</span></span>
            </div>
            <div class="meter asbestos">
                <span style="width: 35%"><span>Unix</span></span>
            </div>
            <div class="break"></div>
            <h5><br><br>
                Conception
            </h5>
            <div class="meter emerald">
                <span style="width: 50.3%"><span>Interface utilisateurs</span></span>
            </div>
            <div class="meter carrot">
                <span style="width:33%"><span>Typographie</span></span>
            </div>
            <div class="meter wisteria">
                <span style="width: 75%"><span>BootStrap</span></span>
            </div>
            <div class="meter sunflower">
                <span style="width: 80%"><span>Applications Web</span></span>
            </div>
            <div class="meter midnight">
                <span style="width:70%"><span>Base de données</span></span>
            </div>
            <div class="meter carrot">
                <span style="width:75%"><span>Volumique</span></span>
            </div>
            <div class="meter asbestos">
                <span style="width:33%"><span>Surfacique</span></span>
            </div>
            <div class="break"></div>
            <h5><br><br>
                Programming Language
            </h5>
            <div class="meter emerald">
                <span style="width: 60.3%"><span>HTML/CSS</span></span>
            </div>
            <div class="meter carrot">
                <span style="width: 70%"><span>PHP/MySql</span></span>
            </div>
            <div class="meter midnight">
                <span style="width: 70%"><span>PYTHON/ORACLE</span></span>
            </div>
            <div class="meter wisteria">
                <span style="width: 85%"><span>VBA/VBScript</span></span>
            </div>
            <div class="meter sunflower">
                <span style="width: 45%"><span>C++</span></span>
            </div>
            <br><br>
            <!--<div class="meter asbestos">
                <span style="width: 82%"><span>Python</span></span>
            </div>-->
        </div>
    </div>
    <div class="g3">
        <h3>
            Formations
        </h3>
        <ul class="no-list work">
            <li>
                <h5>
                    Developpeur d'Application Web (Niveau II)<br>PHP/SYMPHONY
                </h5><span class="label label-success">2018</span>
                <p>
                    HTML5.<br>
                    CSS3.<br>
                    CMS.<br>
                    Bootstrap.<br>
                    PHPmyAdmin.<br>
                    MySQYL.<br>
                    PHP7.<br>
                    PYTHON 3.<br>
                    SQL.<br>
                    Git & Github.

                </p>
            </li>
            <li>
                <h5>
                    Technicien Supérieur de Conception Industriel (Niveau III)<br> Option Mécanique
                </h5><span class="label label-success">2018</span>
                <p>
                    Création de support en hydralique.<br>
                    Gestion des conflits.<br>
                    Prise de parole en publique.<br>
                    Getsion du temps d'occupation des apprenants.
                </p>
            </li>
            <li>
                <h5>
                    Formation de formateur (formation interne)
                </h5><span class="label label-warning">2002</span>
                <p>
                    Autocad.<br>
                    Catia.<br>
                    Suite Office.
                </p>
            </li>
            <li>
            <li>
                <h5>
                    Maintenace su Système Mécanique Automatisée (Niveau IV)
                </h5><span class="label label-warning">2001</span>
                <p>
                    Hydraulique.<br>
                    Pneumatique.<br>
                    Mécanique.<br>
                    Electricité.<br>
                    Automatisation par Automate industriel.
                </p>
            </li>
            <li>
                <h5>
                    Electricien d'équipement industriel (Niveau V)
                </h5><span class="label label-warning">1998</span>
                <p>
                    Logique cablé.<br>
                    Conception de système électrique automatisé.<br>
                    Grafcet.<br>
                    Recherche de panne.<br>
                    Programmation d'automate industriel.<br>
                    Habilitation de sécurtité électrique.
                </p>
            </li>
        </ul>
    </div>
{% endblock body %}