{% extends 'core/layout.html.twig' %}
{% block body %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>#username</h1></div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="../images/profile.jpg"></a></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="../images/avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Modifier ma photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div></hr><br>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activité <i class="fa fa-dashboard fa-1x"></i></li>
                <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>-->
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 159</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span>  236 400 250</li>
                <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 1 850 230</li>-->
            </ul>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="../index.php">Home</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Prénom/First name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Prénom / First name" title="entrez votre prénom.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Nom/Last name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nom / Last name" title="entrez votre nom de famille.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile"><h4>Téléphone/Phone</h4></label>
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Numéro de téléphone / mobile number" title="entrez votre numéro de téléphone.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Courrier électronique/Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="votre@email.com" title="entrez votre email.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Ville/Town</h4></label>
                                <input type="email" class="form-control" id="location" placeholder="Ville / Town" title="Entrez votre ville.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Pays/Country</h4></label>
                                <input type="email" class="form-control" id="location" placeholder="Pays / Country" title="Entrez votre Pays.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Mot de passe/Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="mot de passe / password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2"><h4>Vérification/Verify</h4></label>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="Mot de passe 2 / password 2" title="enter your password2.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Enregistrer/Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div><!--/tab-pane-->
                </form>
            </div>
        </div><!--/tab-pane-->
    </div><!--/tab-content-->
</div><!--/col-9-->
</div>
{% endblock %}